extends layout

block content
  div.container
    a(href='/')
      h1= title
    p Welcome to #{title}

    table#chat(class="table table-striped")
      thead
        th
          a(href='?sort=name&order='+pagin.order) Name
        th
          a(href='?sort=email&order='+pagin.order) Email
        th homepage
        th Message
        th
          a(href='?sort=created_at&order='+pagin.order) Date
      tbody
        -if(messages.length > 0)
          -each message in messages
            tr
              td= message.name
              td= message.email
              td= message.homepage
              td= message.text
    nav
      ul.pagination
        -if(pagin.prevPage)
          li
            a(href=''+pagin.prevPage aria-label="Previous")
              span(aria-hidden="true") &laquo;
        -if(pagin.nextPage)
          li
            a(href=''+pagin.nextPage aria-label="Next")
              span(aria-hidden="true") &raquo;
    form.form-horizontal(action='', method='post')
      div.form-group
        label(for="enter-name" class="col-sm-12") Enter your name
          div.col-sm-12
            input#enter-name(class="form-controll")
        label(for="enter-email" class="col-sm-12") Enter your email
          div.col-sm-12
            input#enter-email(class="form-controll")

        label(for="enter-homepage" class="col-sm-12") Enter your homepage
          div.col-sm-12
            input#enter-homepage(class="form-controll")
        label(for="enter-message" class="col-sm-12") Enter your message
        div.col-sm-12
          textarea#enter-message(class="form-controll")
      button(class="btn btn-default") Send


